:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #FFFFFF;
    --accent-text-logo-color: #000;
    --accent-color: #2196F3;
    --accent-button-color: #188ce8;
    --background-color: #FFFFFF;
    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --border-color: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    font-style: inherit;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.studio {
    color: var(--accent-text-logo-color);
}

.menu {
    margin-right: 331px;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 50px; 
}

.list {
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.menu-link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contact {
    display: flex;
    gap: 50px;
}

.contact-item {
    color: var(--secondary-text-color); 
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-item:hover,
.contact-item:focus {
    color: var(--accent-color);
}

/* main block*/
.hero {
    background-color: var(--primary-background-color);
}

.hero-text {
    color: var(--accent-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    padding-top: 200px;
    padding-left: 226px;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 30px 465px 200px 465px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-button-color);
}

.features {
    margin-top: 94px;
    margin-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list {
    display: flex;
    justify-content: center;
}

.features-block {
   text-align: start;
   gap: 30px;
   width: 270px;
   
}

.features-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* main function */

.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.function-list {
    display: flex;
}

.function-item {
    margin: 0px 30px 0px 0px;
}

/* Our Team */

.team-section {
    background-color: var(--secondary-background-color);
    margin-top: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    padding-top: 94px;
}

.team-list {
    display: flex;
}

.team-item {
    margin: 0px 30px 0px 0px;
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    margin-bottom: 94px;
}

.member-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.member-position {
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*footer*/
.footer {
    background-color: var(--primary-background-color);
}

.footer-block {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-studio {
    color: var(--accent-text-color);
    margin-bottom: 20px;  
}

.adress {
    font-style: normal;
}

.adress-text {
    color: var(--accent-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

/*Portfolio Page*/

.portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 34px;
    padding-left: 280px;
}

.filter-button {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    margin-bottom: 30px;
}

.project-item {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    width: 370px;
    margin-bottom: 30px;
}

.project-link {
    text-decoration: none;
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    color: var(--primary-text-color);
}

.project-link:hover,
.project-link:focus {
    color: var(--accent-color);
}

.type-project {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-left: 24px;
}





